Flask==1.0.2
pdfminer==20191125
psycopg2==2.8.2
PyYAML==5.1
gunicorn==20.0.4
requests==2.21.0
sendgrid==6.1.0
python-dotenv==0.10.3
dropbox==9.4.0
prettytable==0.7.2
PyPDF2==1.26.0
Pillow==10.2.0
mako==1.1.1
itsdangerous==1.1.0